.rating-panel {
  background-color: rgb(61, 61, 61);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
  padding: 10px 0;
  margin: 0 0;
}

.rating-table {
  width: 95%;
}

.rating-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.rating-input input{
  width: 80px;
}

.rating-input button{
  background-color: rgb(43, 80, 82);
  width: 120px;
}