.comment-panel {
  background-color: rgb(61, 61, 61);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 0;
  margin: 0 0;
  max-width: 800px;
}

.comment-input {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
}

.comment-input textarea {
  flex-basis: 90%;
  height: 100px;
  text-align: left;
  border-radius: 8px;
}

.comment-input button{
  background-color: rgb(43, 80, 82);
  width: 120px;
}